
.text-color, .property-sorting-holder .user-location-filters li a:hover, .property-sorting-holder .user-location-filters li a.active, .property-grid .text-holder .property-price, .property-grid .like-btn a:hover,
.property-grid .post-title a:hover, .property-medium .post-title a:hover, .property-medium .like-btn a:hover, .wp-rem-filters .search-options .reset-results, .sub-header .breadcrumbs ul li.active a, .sub-header .breadcrumbs ul li.active:after,
.sub-header .breadcrumbs ul li:hover a, .sub-header .breadcrumbs ul li:hover:after, .field-select-holder ul li ul.dropdown-select li a:hover, .field-select-holder ul li a span, .nav-list-detail ul li:hover a, .main-header .social-media li a:hover,
.blog .text-holder .author-info span a, .blog .post-title h2:hover a, .blog .text-holder .post-options li:hover a, .blog .post-title h3:hover a, .blog .post-title h4:hover a,.widget.widget-latest-post ul li .text-holder h6 a:hover, .widget.widget-archives ul li:hover a,
.widget.widget-property-types ul li:hover a, blockquote p i, blockquote p:before, .tags-list ul li a, .blog.blog-grid .icons-list span a:hover,
.blog.blog-grid .post-title h5 a:hover, .member-grid .member-info li a:hover,
.sub-header  ul.breadcrumbs li:hover:after, .sub-header  ul.breadcrumbs li:hover a, .sub-header  ul.breadcrumbs li:hover, .sub-header ul.breadcrumbs li.active, .sub-header ul.breadcrumbs li.active:after, .property-featured-widget .text-holder h6 a:hover, .member-medium .text-holder .post-title h4 a:hover, .member-medium .member-info li a:hover, #footer .footer-widget a:hover, .widget.widget_nav_menu ul li a:hover, .widget.widget-categories li a:hover, .widget.widget_categories li a:hover, .widget.widget_pages ul li a:hover, .widget.widget_archive li a:hover,
.widget.widget_meta li a:hover, .widget.widget_nav_menu ul li a:hover:before, .widget.widget-categories li a:hover:before, .widget.widget-archives ul li a:hover,
.widget.widget_categories li:hover:before, .widget.widget_pages ul li:hover:before, .widget.widget_archive li:hover:before, .widget.widget-archives ul li:hover a:before, .widget.twitter-post li p a, .widget.widget_recent_comments li a:hover, .widget.widget_rss li .rsswidget:hover, .user-account-nav.user-account-sidebar ul.dashboard-nav li:hover a, .section-title span, .faqs .element-title h5, .blockquote-fancy blockquote p:before, .blockquote-fancy blockquote p:after, .main-header .login-option .user-dashboard-menu li.user-dashboard-menu-children ul i, .main-header .top-header .property-btn, .page-not-found .cs-text span.cs-error, .blog.blog-grid .button-holder .btn-readmore:hover i, .blog.blog-grid .button-holder .btn-readmore:hover,
.suggest-list-holder .text-holder a.shortlisted i.icon-heart5, .property-type.checkbox label, #footer .copy-right p a:hover, .cs-checkbox-list .checkbox label:hover, .profile-info .submit-btn:hover, .widget-payment-holder a:hover, .profile-info input[type="submit"]:hover, .member-detail .member-info .text-holder .info-list li:hover, .member-detail .member-info .text-holder .info-list a:hover, .widget.widget-newsletter .field-holder .btn-holder:hover, .comment-form .field-holder .submit-btn:hover, .pricetable-holder a.buy-now:hover, .contact-form form .field-holder .btn-holder:hover, .blog .text-holder .post-views a:hover, .modal-form .field-holder p a:hover, .field-select-holder ul li ul.delivery-dropdown li a:hover, .ysection .media-story .media-title a:hover, .property-detail .apartment-list tbody tr td .view-btn:hover, .property-detail .architecture-holder .nav > li > a:hover, .member-medium .profile-btn:hover, .member-alphabatic ul li a:hover, .icon-boxes h5 a:hover, .show-more-property #filters li.active a, .show-more-property #filters li a:hover, .show-more-property #filters li a:focus, .liting_map_info .info-txt-holder a.info-title:hover, .liting_map_info a.close:hover, .suggest-list-holder .text-holder span a:hover, .real-estate-property .caption-inner .rent-label:hover a, .user-property .user-list ul.panel-group li .panel .panel-heading .img-holder span:hover a, .user-account-nav.user-account-sidebar ul.dashboard-nav li.active a, .poi-info-window .view-link:hover, .poi-info-window a:hover, .cs-construction .cs-social-media li a, .signup-form .login-section a, .woocommerce.single-product div.product .product_meta .posted_in a, .woocommerce .wc-proceed-to-checkout .checkout-button.button:hover, .woocommerce form table.shop_table input.button[type="submit"]:hover, p.lost_password a:hover, .woocommerce ul.products li.product .price del, .wp-rem-filters .cs-parent-checkbox-list .checkbox label, .membership-info-main .property-pkg-select:hover, .member-detail .contactform_name input[type='submit']:hover, .member-tabs  .nav > li > a:hover, .member-tabs  .nav > li > a:focus, .member-tabs  .nav > li.active a, .member-tabs  .nav > li a:active, .user-account-holder .user-holder.create-property-holder .btns-section .back-btn-field:hover i, .modal-form input[type='button']:hover, .modal-form input[type='submit']:hover, .post-inner-member .post-title h4 a:hover, .widget .properties-post .post-title h4 a:hover, .widget .member-post .post-title h4 a:hover, .chosen-container .chosen-results li.highlighted, .chosen-container .chosen-results li.result-selected, ul.sub-nav li.active .btn-edit-profile,
ul.sub-nav li.active a, .upload-file button[type='button'], .blog.blog-medium .blog-post .text-holder p .read-more, .blog.blog-large .text-holder p .read-more, .pricetable-holder .buy-btn:hover, .pricetable-holder .wp-rem-subscribe-pkg-btn:hover i, .tabs-property address a:hover, .discussion-submit:hover, .property-medium .property-price, .select-location .select-popup .location-close-popup I, .checkbox label:hover, .member-medium .member-info li a, .member-grid .member-info li, .member-grid .member-info li a, .tabs-property .member-data span a:hover, .property-data li a:hover, .member-detail .member-opening-hours ul li ul.delivery-dropdown li.today a span.opend-day, .member-detail .member-opening-hours ul li ul.delivery-dropdown li.today a span.opend-time, input[type='radio'].css-radio:checked + label.css-radio-lbl:after, .pricetable-holder.center ul li:before, .member-medium .member-info li, .member-medium .properties-count span, .wp-rem-wpml-languages ul li ul > li:hover > a img ~ span, .real-estate-property .modern-filters li.active span a, .real-estate-property .modern-filters li:hover span a, .column-text.classic .categories-holder.classic li i, .blog.blog-medium.classic .img-holder figure i, .property-grid.modern .like-btn a, .property-grid.default .checkbox label, .team.team-grid.classic .post-options li a:hover, .compare-text-div a, .compare-properties-types .field-holder ul li label, .counter-holder .cs-counter.default .img-holder i, .team.default .swiper-button-next, .team.default .swiper-button-prev, .team-grid.default .post-title:hover h5 a, .team.team-grid.default .social-media ul li a:hover i, #footer.modern .footer-social-media ul li a i:hover, #footer .widget-nav ul li:hover:before, #footer .widget_nav_menu ul li:hover:before, .property-grid.modern.v2 .like-btn a i.icon-heart5, .property-grid.modern .text-holder .property-price em, .top-locations.v2 ul li a:hover, .scoring-list .text-holder .moredetail-btn:hover, .attachment-holder ul.attachment-formats li a:hover, .list-detail-options a.btn-compare:hover span, .detail-nav ul li:hover a, .detail-nav-map ul li.active a, .scoring-list .text-holder strong:hover, .main-search .field-holder.advanced-btn a, .property-medium.modern .post-title h4 a:hover, .blog.blog-medium.list .text-holder h5 a, .member-grid.member-grid-slider span.properties-count > a, .blog.blog-medium.list .post-title h4 a.text-color, .faqs.modern .panel-group .panel-heading a, .faqs.modern .faq.panel-group .panel-heading a.collapsed:hover, .main-search.fancy.v3 .select-location .slider-handle:before{
color:#ff6428 !important;
}
.bgcolor, .top-map-search-inner input[type="submit"], .real-estate-property .caption-inner span.rent-label,
.pagination li a:hover, .pagination li.active a, .pagination li a.active, .pagination li.active span, .main-header .top-header .property-btn:hover, .widget.widget-tag-cloud a:hover, .member-medium .social-media a:hover, .member-detail .member-info .social-media a:hover, .member-medium .profile-btn, .footer-widget .widget-social-media ul li a:hover i, .widget .tagcloud a:hover, .page-sidebar .widget-title h5:after, .widget.widget-newsletter .field-holder .btn-holder:hover, .widget.widget_search form .btn-default:hover .pagination > .active > span, .main-search .field-holder.advanced-btn a, .datepicker table tr td.day:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr:first-child th:hover, .slicknav_btn, .wp-rem-bank-transfer .list-group li > .badge, .property-type.checkbox input[type="radio"]:checked + label, .main-search .property-type.checkbox label:hover, .slide-loader-holder.slide-loader:before, .user-account-holder .wp_rem_loader, .member-detail .member-info .send-btn:hover, .team .contact-btn:hover, .team.team-medium .social-media ul li a:hover, .wp-rem-top-map-holder .slide-loader.loading:before, .wp-rem-top-map-holder ul.map-actions li, .password_protected input[type="submit"], .password_protected .protected-icon a, .post-title h3 span, .wp-rem-filters .search-options .reset-holder .email-me-top .email-alert-btn:hover, .signup-form .input-filed .input-sec input[type="radio"]:checked + label, .signup-form .input-filed .input-sec label:hover, .signup-form .user-submit, .blog .btn-readmore:hover, .tags-list ul li a:hover, .related-post .swiper-button-next:hover, .related-post .swiper-button-prev:hover, .login-form .login-switches li:last-child a, .no-results .suggestions ul li:before, .suggestion-search .btn-default, .woocommerce.single-product div.product .stock, .woocommerce.single-product div.product form.cart .button, .woocommerce .woocommerce-message a.button, .woocommerce .wc-proceed-to-checkout .checkout-button.button, .woocommerce form .woocommerce-checkout-payment .form-row input.button, #add_payment_method #payment ul.payment_methods li.wc_payment_method input[type="radio"]:checked + label:after, .woocommerce-checkout #payment ul.payment_methods li.wc_payment_method input[type="radio"]:checked + label:after, .woocommerce form.login .form-row input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input[type="submit"], .woocommerce ul.products li.product a.added_to_cart:hover, .member-contact-form input[type='submit'], .switchs-holder2 .acc-submit:hover, .property-back-dashboard a, .tabs-property .member-data address i:hover, .wp-rem-button-loader, .back-page-url a:hover, .price-per-person .slider-handle, .back-page-url a:hover:before, .property-grid-slider .swiper-button-next:hover i, .property-grid-slider .swiper-button-prev:hover i, .back-page-url a:hover:before, #ui-datepicker-div .ui-state-highlight, #ui-datepicker-div.ui-widget-content .ui-state-highlight, #ui-datepicker-div .ui-widget-header .ui-state-highlight, div.xdsoft_datetimepicker .xdsoft_calendar td:hover,
div.xdsoft_datetimepicker .xdsoft_time_box >div >div:hover,
div.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover, .invite-member .btn-send, .pricetable-holder.center .cs-price a.try-btn:hover,
.plans-top-btns a:hover, .plans-compare-btn a:hover, .user-account-holder .user-holder.create-property-holder .btns-section .next-btn-field .next-btn:hover, .payment-holder input[type='submit']:hover, .classic .main-header .login-option a, .column-content.modern .img-holder figure i, .column-content.modern .text-holder .view-btn, .property-grid.classic .post-category-list li:hover i, .real-estate-property .classic .caption-inner .rent-label:hover, .member-medium .text-holder .member-address i, .team.classic .swiper-button-prev:hover, .team.classic .swiper-button-next:hover, .compare-properties-types .field-holder ul li label:hover, .compare-properties-types .field-holder ul li input[type='radio']:checked + label, .default-v2 .main-header .property-btn, header#header.default.default-v2.no-transparent .main-header, .featured-slider .swiper-pagination-bullet-active, .video-holder:hover .img-holder .play-btn a, .btn-top:hover, .view-loc-btn, .grid-default-slider .property-grid.default .location-list, .button-next-member:hover, .button-prev-member:hover, .real-estate-property .swiper-button-next.default:hover, .real-estate-property .swiper-button-prev.default:hover, .newsletter.classic.v2 .field-holder .btn-holder, #header.advance.v2 .main-header .user-dashboard-menu > ul > li.user-dashboard-menu-children:hover, .blog .btn-readmore span, .main-search.fancy.v2 .select-location .select-popup .my-location:hover a, .main-search.fancy.v2 .select-location .slider-handle, .top-locations ul li .image-holder:hover ~ .text-holder, .top-locations ul li .text-holder:hover,	.top-locations ul li .image-holder:hover ~ .text-holder:after, .top-locations ul li .text-holder:hover:after, .main-header .user-dashboard-menu li.menu-open.user-dashboard-menu-children, .main-search.modern.v3 .select-location .slider-handle {
background-color:#ff6428 !important;
}
.border-color, #lang_sel_list #lang_sel ul li a:hover, .widget .tagcloud a:hover, .main-header .top-header .property-btn:hover, .main-header .top-header .property-btn, .property-type.checkbox input[type="radio"]:checked + label, .main-search .property-type.checkbox label:hover, .profile-info .submit-btn:hover, .widget-payment-holder a:hover, .profile-info input[type="submit"]:hover, .widget.widget-newsletter .field-holder .btn-holder:hover, .comment-form .field-holder .submit-btn:hover, .button_style .custom-btn.medium-btn:hover, .team .contact-btn:hover, .team.team-medium .social-media ul li a:hover, .contact-form form .field-holder .btn-holder, .property-detail .apartment-list tbody tr td .view-btn:hover, .member-medium .profile-btn:hover, .real-estate-property .caption-inner .rent-label:hover, .wp-rem-filters .search-options .reset-holder .email-me-top .email-alert-btn:hover, .signup-form .input-filed .input-sec input[type="radio"]:checked + label, .signup-form .input-filed .input-sec label:hover, .blog .btn-readmore:hover, .tags-list ul li a, .related-post .swiper-button-next:hover, .related-post .swiper-button-prev:hover, .woocommerce .wc-proceed-to-checkout .checkout-button.button, .woocommerce form table.shop_table input.button[type="submit"]:hover, .woocommerce ul.products li.product a.added_to_cart:hover, .membership-info-main .property-pkg-select:hover, .member-detail .contactform_name input[type='submit']:hover, .user-account-holder .user-holder.create-property-holder .btns-section .next-btn-field .next-btn:hover, .switchs-holder2 .acc-submit:hover, .modal-form input[type='button']:hover, .modal-form input[type='submit']:hover, .property-back-dashboard a, .upload-file button[type='button'], .tabs-property .member-data address i:hover, .discussion-submit:hover, .testimonial-holder .img-holder .swiper-pagination-switch.active:after, .payment-holder input[type='submit']:hover, .payment-holder input[type='button']:hover, .plans-compare-btn a:hover, .modern-price-table .plans-top-btns a:hover, .property-grid.classic .post-category-list li:hover, .team.classic .swiper-button-prev:hover, .team.classic .swiper-button-next:hover, .compare-properties-types .field-holder ul li label, .team.default .swiper-button-next, .team.default .swiper-button-prev, .advance .main-header .top-header .property-btn, .button-next-member:hover, .button-prev-member:hover, .real-estate-property .swiper-button-next.default:hover, .real-estate-property .swiper-button-prev.default:hover, .top-locations ul li .image-holder:hover ~ .text-holder, .top-locations ul li .text-holder:hover
{
border-color:#ff6428 !important;
}
.woocommerce .woocommerce-tabs .nav-tabs.wc-tabs li.active a, .pricetable-holder.active, .detail-nav ul li:hover a, .detail-nav-map ul li.active a
{
border-bottom-color:#ff6428 !important;
}
.woocommerce .woocommerce-tabs .nav-tabs.wc-tabs li.active a, .price-per-person .slider-handle:before, .property-grid.modern .text-holder, .main-search.fancy.v2 .select-location .slider-handle:after
{
border-top-color:#ff6428 !important;
}
.woocommerce .woocommerce-tabs .nav-tabs.wc-tabs li.active a
{
border-left-color:#ff6428 !important;
}
.woocommerce .woocommerce-tabs .nav-tabs.wc-tabs li.active a
{
border-right-color:#ff6428 !important;
}
#header.header1 .main-header .nav-area.sticky-header.sticky-active,
header#header.default-v2 .main-header.sticky-active, 
#header.classic.no-transparent .main-header .nav-area, 
.classic .main-header .nav-area.sticky-active, 
.modern .main-header.sticky-header.sticky-active .top-header, 
.default .main-header.sticky-header.sticky-active .top-header, 
.advance .main-header.sticky-header.sticky-active .top-header, 
#header.modern.transparent.sticky-active .main-header,
#header.default.default-v2 .sticky-header.sticky-active
{
background-color:#5a2e8a !important;
}
.classic.no-transparent .main-header .top-header .contact-info, .classic.no-transparent .main-header .top-header .contact-info i, .classic.no-transparent .main-header .top-header .contact-info a, .classic.no-transparent .main-header .top-header .contact-info small, .classic.no-transparent .main-header .top-header .contact-info span, .classic.no-transparent .main-header .social-media li a, .classic.no-transparent .main-header .login-area > a, .classic.no-transparent .main-header .login-area > i, .logged-in .classic.no-transparent .main-header .user-dashboard-menu-children > a
{
color:#5a2e8a !important;
}
.classic.no-transparent .main-header .login-area > a     {
border-left-color:#5a2e8a !important;
}		
#header.header1 .main-header .nav-area.sticky-header.sticky-active .main-navigation > ul > li > ul,
header#header.default-v2 .main-header.sticky-active .main-navigation > ul > li > ul, 
#header.classic.no-transparent .main-header .nav-area .main-navigation > ul > li > ul, 
.classic .main-header .nav-area.sticky-active .main-navigation > ul > li > ul, 
.modern .main-header.sticky-header.sticky-active .top-header .main-navigation > ul > li > ul, 
.default .main-header.sticky-header.sticky-active .top-header .main-navigation > ul > li > ul, 
.advance .main-header.sticky-header.sticky-active .top-header .main-navigation > ul > li > ul, 
#header.modern.transparent.sticky-active .main-header .main-navigation > ul > li > ul
{
border-bottom-color:#5a2e8a !important;
}
#header.header1 .main-header .nav-area.sticky-header.sticky-active .main-nav > nav > ul > li > a,
header#header.default-v2 .main-header.sticky-active .main-nav > nav > ul > li > a, 
#header.classic.no-transparent .main-header .nav-area .main-nav > nav > ul > li > a, 
.classic .main-header .nav-area.sticky-active .main-nav > nav > ul > li > a, 
.modern .main-header.sticky-header.sticky-active .top-header .main-nav > nav > ul > li > a, 
.default .main-header.sticky-header.sticky-active .top-header .main-nav > nav > ul > li > a, 
.advance .main-header.sticky-header.sticky-active .top-header .main-nav > nav > ul > li > a, 
#header.modern.transparent.sticky-active .main-header .main-nav > nav > ul > li > a,
#header.header1 .main-header .nav-area.sticky-header.sticky-active .social-media li a,
#header.header1 .main-header .nav-area.sticky-header.sticky-active .login-option > .user-dashboard-menu > ul > li > a,
#header.header1 .main-header .nav-area.sticky-header.sticky-active .login-option > .user-dashboard-menu > ul > li > a i
{
color:#ffffff !important;
}
.main-navigation .sub-menu-label > span,
.main-header .main-nav li a i,
.contact-property .modern ul .contact-info li i,
.team.team-medium .post-designation,
.blog.blog-grid .button-holder .btn-readmore,
.fancy-heading h2,
#footer .copy-right p a,
.icons-lists ul li i,
.property-search .property-list li,
.property-search .property-list li a,
.about-info ul li:before,
.cs-construction .time-box h4,
.pricetable-holder.center .cs-pricespan .title,
.main-header .user-dashboard-menu li ul li a:hover,
.property-grid .post-category-list li,
.property-medium .post-category-list li,
.member-alphabatic .search-title span,
.minimum-loading-list .spinner span i,
.price-per-person .rang-text,
.wp-rem-filters .search-options .reset-holder .email-me-top .email-alert-btn,
.wp-rem-filters form .field-holder label i,
.property-info-holder h2,
.property-info-holder .catagories-list ul li i,
.profile-info h2,
.icon-check-list ul li i,
.show-more-property .element-title h2,
.show-more-property .element-title .show-more-property,
.pricetable-holder .cs-price span.title,
.plans-compare-btn a,
.select-location .select-popup .my-location i,
.select-location .select-popup .my-location a,
.suggest-list-holder .text-holder span,
.suggest-list-holder .text-holder span a,
.switchs-holder2 .acc-submit,
.user-holder .checkbox-list input[type='checkbox']:checked + label,
.user-holder .create-property-holder .field-holder .checkbox-list input[type='checkbox']:checked + label,
.user-holder .checkbox-list label:hover,
.user-holder .create-property-holder .field-holder .checkbox-list label:hover,
.check-box-remind input[type='checkbox']:checked + label:after,
.modal-form .field-holder p a,
.cs-datepicker .datepicker-text-bottom i,
.tabs-property .member-data i,
.show-more-property .element-title .show-more-property,
.property-grid .post-category-list li,
.property-search .property-list li,
.blog.blog-grid .button-holder .btn-readmore, 
.wp-rem-filters form .field-holder,
.widget-payment-holder .range-slider span.price, .create-properties-cats ul.property-cats-list li input[type='radio']:checked + label, .create-properties-cats ul.property-cats-list li label:hover,
.contact-property.modern ul.contact-info li i,
.top-locations.v2 ul li a,
.column-content ul li:before,
.property-medium.modern .property-price,
.grid-default-slider .property-grid.default .price-holder .property-price{
color:#5a2e8a !important;
}
.field-input::-webkit-input-placeholder,
.wp-rem-filters form .field-holder .field-input::-moz-placeholder,
.wp-rem-filters form .field-holder .field-input:-ms-input-placeholder,
.wp-rem-filters form .field-holder .field-input:-moz-placeholder {
color:#5a2e8a !important;
}
.cs-calltoaction a,
.contact-property ul .contact-info li,
.contact-property.modern ul .contact-info:before,
.button_style .custom-btn,
.cs-calltoaction a,
.blog.btn-readmore span,
.cs-seprater:after,
.center.cs-seprater:after,
.left.cs-seprater:after,
.right.cs-seprater:after,
.pricetable-holder.center.cs-pricea.try-btn,
.slide-loader-holder.slide-loader:before,
.property-medium .opening-time,
.member-search-filter li a:hover,
.member-search-filter li.active a,
.price-per-person .slider-selection,
.list-detail-options .enquire-holder a.enquire-btn.wp-rem-open-signin-tab
.main-post.slider .swiper-button-next:hover i,
.main-post.slider .swiper-button-prev:hover i,
.main-search .nav-tabs li,
.main-search .tab-content,
.singup-from .form-btn,
.singup-from input.form-btn,
.select-location .slider-selection,
.login-form .cs-demo-login a,
.newsletter .field-holder input[type='button'],
.newsletter .field-holder input[type='submit'],
.user-account-holder .wp_rem_loader,
.login-form form input[type='button'],
.login-form form input[type='submit'],
.map-checkboxes .checkbox input[type='checkbox']:checked + label,
.modal-form input[type='button'],
.modal-form input[type='submit'],
div.daterangepicker td.available:hover,
div.daterangepicker th.available:hover,
div.daterangepicker .btn-default,
#ui-datepicker-div .ui-state-active,
#ui-datepicker-div .ui-widget-content .ui-state-active,
#ui-datepicker-div .ui-widget-header .ui-state-active,
#ui-datepicker-div a.ui-button:active,
#ui-datepicker-div .ui-button:active,
#ui-datepicker-div .ui-button.ui-state-active:hover,
.property-data .urgent-property span,
div.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
div.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
div.xdsoft_datetimepicker .xdsoft_time_box > div > div.xdsoft_current,
div.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover,
div.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current,
.widget-payment-sec h6, .widget-payment-holder .range-slider .slider-selection,
.widget-payment-holder .range-slider .slider-handle,
.list-detail-options .enquire-holder a.enquire-btn[data-target="#enquiry-modal"],
.back-page-url a,
.membership-info-main .property-pkg-select,
.back-page-url a:before,
.payment-holder input[type='submit'], .payment-holder input[type='button'], .property-back-dashboard a, .wp-rem-top-map-holder ul.map-actions li.map-draw-tools a.delete-draw-area,
.contact-property ul.contact-info li i,
.contact-property.modern ul.contact-info:before {
background-color:#5a2e8a !important;
}
.gm-style .gm-style-iw > div::-webkit-scrollbar-thumb,
.gm-style .gm-style-iw > div::-webkit-scrollbar-track,
{
background-color:#5a2e8a !important;
}
.show-more-property .element-title .show-more-property, .map-holder .map-actions li.active a, ul.property-radios li input[type='radio']:checked + label, ul.property-radios li input[type='radio'] + label:hover, .create-properties-cats ul.property-cats-list li input[type='radio']:checked + label, .create-properties-cats ul.property-cats-list li label:hover, .switchs-holder2 .acc-submit, .type-holder-main .loader-holder
{
border-color:#5a2e8a !important;
}
.type-categry-holder-main .loader-holder, .type-holder-main .loader-holder:before, .type-categry-holder-main .loader-holder:before, .property-medium .img-holder:before, .property-grid .img-holder:before
{
border-left-color:#5a2e8a !important;
}
.border-bottom-color
{
border-bottom-color:#5a2e8a !important;
}
.back-page-url a:before
{
border-color:#f1f1f1 !important;
}
body{ background:#f1f1f1 !important; }
.cs-main-nav {
position: relative !important;
}
.element-title-bottom-spacing, .element-title
{
margin-bottom:px !important;
}
body,
.main-section p,
.mce-content-body p
{
font:Normal  14px/24px "Roboto", sans-serif;text-transform: none;color: #777777 !important;			}
header .logo {
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
#header .navigation > ul > li > a,
#header .navigation > ul > li,
.main-header .main-nav > nav > ul > li > a,
.main-header .user-dashboard-menu > ul > li > a
{
font:500 Normal  15px/19px "Roboto", sans-serif !important;text-transform: none !important;			}
h1, h1 a{
font:700 Normal  28px/34px "Montserrat", sans-serif !important;letter-spacing: 1px !important;text-transform: uppercase !important;color: #000000 !important;			}
h2, h2 a{
font:700 Normal  22px/28px "Montserrat", sans-serif !important;letter-spacing: 0px !important;text-transform: uppercase !important;color: #000000 !important;			}
h3, h3 a{
font:700 Normal  18px/26px "Montserrat", sans-serif !important;letter-spacing: 1px !important;text-transform: uppercase !important;color: #000000 !important;			}
h4, h4 a{
font:700 Normal  18px/24px "Montserrat", sans-serif !important;letter-spacing: 0px !important;text-transform: uppercase !important;color: #000000 !important;			}
h5, h5 a{
font:700 Normal  16px/22px "Montserrat", sans-serif !important;letter-spacing: 0px !important;text-transform: uppercase !important;color: #000000 !important;			}
h6, h6 a{
font:700 Normal  14px/20px "Montserrat", sans-serif !important;letter-spacing: 0px !important;text-transform: uppercase !important;color: #000000 !important;			}
.section-title h2{
font:700 Normal  30px/30px "Montserrat", sans-serif !important;letter-spacing: 1px !important;text-transform: uppercase !important;color: #000000 !important;			}
.element-title h2{
font-size:20px !important;letter-spacing: 0px !important;text-transform: none !important;			}
.post-title h4 a{
font:700 Normal  18px/24px "Montserrat", sans-serif !important;letter-spacing: 1px !important;text-transform: capitalize !important;color: #000000 !important;			}
.cs-page-title h1 {
font:  20px/26px "Montserrat", sans-serif !important;letter-spacing: 1px !important;text-transform: capitalize !important;color: #000000 !important;			}
.page-sidebar .widget .widget-title h5{
font:700 Normal  16px/36px "Montserrat", sans-serif !important;letter-spacing: 1px !important;text-transform: uppercase !important;color: #000000 !important;			}
#footer .widget-title h5{
text-transform: none !important;color: #ffffff !important;			}
.main-header .main-navigation > ul > li.menu-item-has-children > a:after
{ border-bottom-color:#ffffff !important; }
#header .main-header, .modern .main-header .top-header, .default .main-header .top-header, .advance .main-header .top-header,
.header1 .main-header .nav-area
{
background-color:#5a2e8a !important;
}
.main-header .main-navigation > ul > li > ul
{
border-bottom-color:#5a2e8a !important;
}
#header .main-navigation ul ul ul li a,
#header .main-navigation ul ul ul ul li a
{color:#555555 !important;}
#header .main-navigation ul ul li:hover > a,
#header .main-navigation ul li.current-menu-parent ul li.current-menu-item:hover > a,
#header .main-navigation ul li.current-menu-ancestor ul li.current-menu-item > a,
#header .main-navigation ul li.current-menu-ancestor ul li.current-menu-item > a:after,
#header .main-navigation ul li.current-menu-ancestor ul li.current-menu-ancestor > a,
#header .main-navigation ul li.current-menu-ancestor ul li.current-menu-ancestor > a:after {
color:#555555 !important;}
#header .main-navigation > ul > li > a, #header .main-navigation ul li.menu-item-has-children a:after, .login-option .cs-popup-login-btn, .main-header .login-option, .login-option a.cs-popup-joinus-btn, .default.default-v2 .main-header .user-dashboard-menu-children > a, .default.default-v2 .main-header .login-option i.icon-caret-down, .main-header .user-dashboard-menu > ul > li > a,
.main-header .user-dashboard-menu > ul > li > a > i, .main-header .social-media li a,
.advance .main-header .top-header .property-btn
{ color:#ffffff !important;}
.advance .main-header .top-header .property-btn{ border-color:#ffffff !important;}
#header .main-navigation ul li:hover > a,
#header .main-navigation ul li.menu-item-has-children:hover > a:after,
#header .main-navigation ul li.current-menu-ancestor > a,
#header .main-navigation ul li.current-menu-ancestor > a:after,
#header .main-navigation ul li.current-menu-item > a,
#header .main-navigation ul li.current-menu-item > a:after
{ color:#ffffff !important; }
#header.advance.v2 .main-header .main-navigation>ul>li>a:before,
#header.advance.v2 .main-header .main-navigation>ul>li.current-menu-item > a:before,
#header.advance.v2 .main-header .login-option a.login-popup-btn:hover, #header.advance.v2 .main-header .top-header .property-btn:hover,
#header.advance.v2 .wp-rem-wpml-languages li:hover .wpml-ls-item-toggle
{ background:#ffffff !important; }
#header .main-navigation ul ul ul,
#header .main-navigation ul li.current-menu-ancestor ul li.current-menu-item > a,
#header .main-navigation ul li.current-menu-ancestor ul li.current-menu-ancestor > a,
#header .main-navigation ul ul,
#header .main-navigation ul ul ul li:hover > a
{ background:#ffffff !important; }
.page-sidebar .widget-title h3, .page-sidebar .widget-title h4, .page-sidebar .widget-title h5, .page-sidebar .widget-title h6{
color:#2d2d2d !important;
}
.section-sidebar .widget-title h3, .section-sidebar .widget-title h4, .section-sidebar .widget-title h5, .section-sidebar .widget-title h6{
color:#2d2d2d !important;
}
#footer .footer-widget,
#footer.modern { background-color:#ffffff !important; }
#footer .cs-footer-widgets { background-color: !important; }
#footer .footer-widget p, .custom-container
{color:#8e9198 !important;}
#footer.modern-v1 .cs-copyright p a,
#footer.modern-v1 .cs-copyright .btn-top a,
#footer .cs-copyright a,
#footer .copy-right p,
#footer .cs-copyright p a,
#footer .cs-copyright .btn-top a
{
color:#999999 !important;
}
#footer .footer-widget a,
#footer .widget-nav ul li:before, 
#footer .widget_nav_menu ul li:before,
#footer .footer-nav ul li a
{
color:#8e9198 !important;
}
.copyright-sec {background-color:#141215 !important;}
.copyright-sec {background-color:#141215 !important;}
